{%- block form_row -%}
    {% if name == 'file' %}
        <div class="row-fluid input-file-cont" data-label="{{ label|trans }}" style="margin-top: 10px;">
            {{ form_widget(form) }}
        </div>
        <div class="row-fluid well box-shadow" id="{{ attr['well'] }}" style="margin-top: 5px;"></div>
    {% elseif name == 'birthday' %}
        <div class="row-fluid" style="margin-top: 5px;">
            <span class="col-xs-4" style="padding: 0 !important;">
                {{- form_widget(form.children.day) -}}
            </span>
            <span class="col-xs-4" style="padding: 0 !important;">
                {{- form_widget(form.children.month) -}}
            </span>
            <span class="col-xs-4" style="padding: 0 !important;">
                {{- form_widget(form.children.year) -}}
            </span>
        </div>
    {% endif %}
{%- endblock form_row -%}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <div class="row-fluid">
            <div class="callout callout-danger box-shadow">
                {%- for error in errors -%}
                    <p><i class="fa fa-minus-circle"></i> {{ error.message }}</p>
                {%- endfor -%}
            </div>
        </div>
    {%- endif -%}
{%- endblock form_errors -%}

{%- block choice_widget_collapsed -%}
    {%- if required and placeholder is none and not placeholder_in_choices and not multiple -%}
        {% set required = false %}
    {%- endif -%}
    <select {{ block('widget_attributes') }} class="form-control" {% if multiple %} multiple="multiple"{% endif %}>
        {%- if placeholder is not none -%}
            <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder != '' ? placeholder|trans({}, translation_domain) }}</option>
        {%- endif -%}
        {%- if preferred_choices|length > 0 -%}
            {% set options = preferred_choices %}
            {{- block('choice_widget_options') -}}
            {%- if choices|length > 0 and separator is not none -%}
                <option disabled="disabled">{{ separator }}</option>
            {%- endif -%}
        {%- endif -%}
        {%- set options = choices -%}
        {{- block('choice_widget_options') -}}
    </select>
{%- endblock choice_widget_collapsed -%}
