{%- block form_row -%}
    {% if name == 'file' or name == 'files' %}
        <div class="row-fluid input-file-cont" data-label="{{ label|trans }}" style="margin-top: 10px;">
            {{ form_widget(form) }}
        </div>
        <div class="row-fluid well box-shadow" id="{{ attr['well'] }}" style="margin-top: 5px;"></div>
    {% else %}
    	<div class="form-group{%- if errors|length > 0 -%} has-error{%- endif -%}">
        	{{- form_label(form) -}}
            {{- form_widget(form) -}}
            {{- form_errors(form) -}}
        </div>
    {% endif %}
{%- endblock form_row -%}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <div class="row-fluid" style="margin-top: 5px;">
            <div class="callout callout-danger box-shadow">
                {%- for error in errors -%}
                    <p><i class="fa fa-minus-circle"></i> {{ error.message }}</p>
                {%- endfor -%}
            </div>
        </div>
    {%- endif -%}
{%- endblock form_errors -%}

{%- block form_label -%} 
    {% if label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({ 
                '%name%': name, 
                '%id%': id, 
            }) %} 
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}
    {% if label is not same as(false) -%}
        <label class="control-label">{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}</label>
    {%- endif -%}
{%- endblock form_label -%}
