<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 five-pad" style="max-width: 410px">
    <div class="box box-widget widget-user box-shadow show-img" ng-class="getClass('o_{{ offer.categoryProduct.product.slug }}')">
        <div class="widget-user-header card-img-container" ng-hide="selected == 'o_{{ offer.categoryProduct.product.slug }}'">
            <img class="img-responsive undrag" src="{{ get_image(offer.categoryProduct.image.source, 'gallery_thumb', offer.categoryProduct.image.gcs) }}">
            {% if offer.discount > 0 %}
                <div class="discount-label">{{ 'matejer_offer.discount_off'|transchoice(offer.discount|number_format(0,'.')) }}</div>
            {% endif %}
        </div>
        <div ng-show="selected == 'o_{{ offer.categoryProduct.product.slug }}'" class="widget-user-header bg-aqua-active ng-hide">
            <h3 class="widget-user-username">{{ render_esi(url('shop_parts_shopname', {'slug': offer.shop.slug})) }}</h3>
        </div>
        <div class="box-footer no-padding">
            <div class="specs-container ng-hide" ng-show="selected == 'o_{{ offer.categoryProduct.product.slug }}'">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <th>{{ 'matejer_offer.reference'|trans }}</th>
                            <td>{{ offer.reference }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'matejer_offer.price'|trans }}</th>
                            <td>{% set price = offer.price - offer.price * offer.discount/100 %}{{ price|number_format(2,'.',' ') }} {{ offer.shop.transCurrency|trans }}</td>
                        </tr>
                        <tr>
                            {% if offer.discount > 0 %}
                                <th>{{ 'matejer_offer.original_price'|trans }}</th>
                                <td>{{ offer.price }} {{ offer.shop.transCurrency|trans }} ({{ 'matejer_offer.discount_off'|transchoice(offer.discount|number_format(2,'.',' ')) }})</td>
                            {% else %}
                                <th>{{ 'matejer_offer.discount'|trans }}</th>
                                <td>{{ 'matejer_offer.no_discount'|trans }}</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <th>{{ 'matejer_offer.warranty'|trans }}</th>
                            <td>{{ 'matejer_offer.warranty_choice'|transchoice(offer.warranty) }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'matejer_offer.availability'|trans }}</th>
                            <td>{{ offer.transAvailability|trans }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row username-container" ng-hide="selected == 'o_{{ offer.categoryProduct.product.slug }}'">
                <div class="col-xs-12">
                    <h4 class="widget-user-username">
                        <img src="{{ get_image(offer.shop.image.source, 'icon_logo', offer.shop.image.gcs) }}" class="user-image img-circle"/>
                        <a href="{{ url('abo_shop_product_product' , {'slug': offer.shop.slug, 'slug_prod': offer.categoryProduct.product.slug}) }}"> {{ offer.shop.name }} | {{ offer.categoryProduct.fullname }}</a>
                    </h4>
                </div>
            </div>
            <div class="row card-btn-group">
                <div class="col-xs-12 no-padding">
                    <button class="btn btn-{[{ theme }]} btn-sm card-btn" title="{{ 'matejer_product.see_desc'|trans }}" ng-click="toggleShow('o_{{ offer.categoryProduct.product.slug }}')"><i class="fa fa-exchange"></i></button>
                    <div quick-view view-entity="offer" view-slug="{{ offer.id }}" theme="{[{ theme }]}"></div>
                    <button class="btn btn-{[{ theme }]} btn-sm card-btn" ng-hide="selected == 'o_{{ offer.categoryProduct.product.slug }}'">{{ price|number_format(2,'.',' ') }} {{ offer.shop.transCurrency|trans }}</button>
                </div>
            </div>
        </div>
    </div>
</div>
