<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 five-pad" style="max-width: 410px">
	<div class="box box-widget widget-user">
		<span ng-hide="selected == 's_{{ shop.slug }}'">
			<div class="widget-user-header" style="background: url('{{ get_image(shop.cover.source, 'm_gallery_thumb', shop.cover.gcs) }}') center center no-repeat;"></div>
			<div class="widget-user-image">
				<img class="profile-user-img img-responsive img-circle" src="{{ get_image(shop.image.source, 'avatar', shop.image.gcs) }}" alt="Shop logo">
			</div>
		</span>
		<span class="ng-hide" ng-show="selected == 's_{{ shop.slug }}'">
			<div class="widget-shop-header bg-aqua-active">
				<h3 class="widget-user-username">{{ shop.name }}</h3>
			</div>
		</span>
		<div class="box-footer no-padding">
			<span class="" ng-hide="selected == 's_{{ shop.slug }}'">
				<div class="row box-shop-footer">
					<div class="col-xs-12 shop-name">
						<h3 class="widget-user-username"><a href="{{ path('abo_shop_show_home' , {'slug': shop.slug}) }}">{{ shop.name }}</a></h3>
						<h5 class="widget-user-desc">{{ shop.slogan }}</h5>
					</div>
				</div>
				<div class="row shop-data">
					<div class="col-sm-4 border-right">
						<div class="description-block">
							<h5 class="description-header">{{ render_esi(url('shop_parts_ratevalue', {'slug': shop.slug})) }} <i class="fa fa-star" style="color: #3c8dbc;"></i></h5>
							<span class="description-text">{{ render_esi(url('shop_parts_ratenb', {'slug': shop.slug})) }}</span>
						</div>
					</div>
					<div class="col-sm-4 border-right">
						<div class="description-block">
							<span class="description-text">{{ 'matejer_shop.subscribers'|trans }}</span>
							<h5 class="description-header">{{ render_esi(url('shop_parts_subsnb', {'slug': shop.slug})) }}</h5>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="description-block">
							<span class="description-text">{{ 'matejer_offer.offers'|trans }}</span>
							<h5 class="description-header">{{ render_esi(url('shop_parts_offernb', {'slug': shop.slug})) }}</h5>
						</div>
					</div>
				</div>
			</span>
			<span class="ng-hide" ng-show="selected == 's_{{ shop.slug }}'">
				<table class="table table-hover shop-desc">
					<tbody>
						<tr>
							<th>{{ 'matejer_shop.location'|trans }}</th>
							<td>{{ shop.address.city }}, {{ shop.address.state }}, {{ shop.address.countryTrans|trans }}</td>
						</tr>
						<tr>
							<th colspan="2">{{ 'matejer_shop.description'|trans }}</th>
						</tr>
						<tr>
							<td colspan="2">{{ shop.description }}</td>
						</tr>
					</tbody>
				</table>
			</span>
			<div class="row card-btn-group">
				<div class="col-xs-12 no-padding">
					<button class="btn btn-{[{ theme }]} btn-sm card-btn" title="{{ 'matejer_product.see_desc'|trans }}" ng-click="toggleShow('s_{{ shop.slug }}')"><i class="fa fa-exchange"></i></button>
					<div quick-view view-entity="shop" view-slug="{{ shop.slug }}" theme="{[{ theme }]}"></div>
					{% if is_granted('ROLE_USER') %}<div subscribe subscribe-entity="shop" subscribe-slug="{{ shop.slug }}" theme="{[{ theme }]}"></div>{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>
