{% extends "ABOShopBundle::dashShopAdmin.html.twig" %}

{% block title %}{{ 'shop_show_about.title_admin'|trans({'%shopname%': shop.name}) }}{% endblock %}
{% block options %}options = {token: true};{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-md-6">
            {{ render_esi(url('abo_shop_show_shopinfos', {'slug': shop.slug}) ) }}
        </div>
        <div class="col-xs-12 col-md-6">
            {{ render_esi(url('abo_shop_show_shopcontact', {'slug': shop.slug}) ) }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            {{ render_esi(url('abo_shop_show_catsandoffers', {'slug': shop.slug}) ) }}
        </div>
        <div class="col-xs-12 col-md-6">
            {{ render_esi(url('main_review_shopratestat', {'id': shop.id }) ) }}
        </div>
    </div>
{% endblock %}
