<div class="box box-{[{ theme }]} box-shadow">
	<div class="box-header">
		<h3 class="box-title"><i class="fa fa-map-signs"></i> {{ 'shop_show_about.address_contact'|trans }}</h3>
	</div>
	<div class="box-body">
		<table class="table table-hover">
			{% if phones is empty %}
				<tr>
					<th>{{ 'matejer_phone.shop_phones'|trans }}</th>
					<td>{{ 'matejer_phone.no_phone_shop'|trans }}</td>
				</tr>
			{% else %}
				{% for phone in phones %}
					{% if loop.first %}
						<tr>
							<th>{{ 'matejer_phone.shop_phones'|trans }}</th>
							<td>({{ phone.phoneCode }}) {{ phone.subscriber }}</td>
						</tr>
					{% else %}
						<tr>
							<td></td>
							<td>({{ phone.phoneCode }}) {{ phone.subscriber }}</td>
						</tr>
					{% endif %}
				{% endfor %}
			{% endif %}
			{% if emails is empty %}
				<tr>
					<th>{{ 'matejer_email.emails'|trans }}</th>
					<td>{{ 'matejer_email.no_email_shop'|trans }}</td>
				</tr>
			{% else %}
				{% for email in emails %}
					{% if loop.first %}
						<tr>
							<th>{{ 'matejer_email.emails'|trans }}</th>
							<td style="word-wrap: break-word;">{{ email.email }}{% if email.confirmed %}<i class="fa fa-check-circle text-success pull-right font-large" title="{{ 'matejer_email.confirmed'|trans }}"></i>{% endif %}</td>
						</tr>
					{% else %}
						<tr>
							<td></td>
							<td style="word-wrap: break-word;">{{ email.email }}{% if email.confirmed %}<i class="fa fa-check-circle text-success pull-right font-large" title="{{ 'matejer_email.confirmed'|trans }}"></i>{% endif %}</td>
						</tr>
					{% endif %}
				{% endfor %}
			{% endif %}
			<tr>
				<th>{{ 'matejer_place.country'|trans }}</td>
				<td>{{ shop.address.countryTrans|trans }}</td>
			</tr>
			<tr>
				<th>{{ 'matejer_place.state'|trans }}</td>
				<td>{{ shop.address.state }}</td>
			</tr>
			<tr>
				<th>{{ 'matejer_place.city'|trans }}</td>
				<td>{{ shop.address.city }}</td>
			</tr>
			<tr>
				<th>{{ 'matejer_place.street'|trans }}</td>
				<td>{{ shop.address.street }}</td>
			</tr>
			<tr>
				<th>{{ 'matejer_place.postalCode'|trans }}</td>
				<td>{{ shop.address.postalCode }}</td>
			</tr>
		</table>
	</div>
</div>
