<div class="row">
    <div class="col-xs-12 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
    	{% if email_success is defined %}
    		<div class="callout callout-success">
                <h4>{{ email_success }}</h4>
                <p>{{ email_confirm }}</p>
            </div>
        {% elseif form is defined %}
            <div class="box box-primary box-shadow">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ 'fos_change_password.panel_header'|trans }}</h3>
                </div>
                {% form_theme form ':Form:abo_form_simple.html.twig' %}
                {{ form_start(form, {'action': path('abo_user_change_password'), 'method': 'POST' }) }}
                    <div class="box-body">
                        {{ form_row(form.current_password, {'label': 'fos_change_password.current'|trans ,'attr': { 'class': 'form-control' } }) }}
                        {{ form_row(form.plainPassword.first, {'label': 'fos_change_password.first'|trans ,'attr': { 'class': 'form-control' } }) }}
                        {{ form_row(form.plainPassword.second, {'label': 'fos_change_password.second'|trans ,'attr': { 'class': 'form-control' } }) }}
                        {{ form_row(form._token) }}
                    </div>
                    <div class="box-footer">
                    	<button type="submit" class="btn btn-primary btn-flat pull-right">{{ 'matejer_main.change_password_btn'|trans }}</button>
                    </div>
                {{ form_end(form) }}
            </div>
        {% endif %}
    </div>
</div>

