<div class="box box-{[{ theme }]} box-solid box-shadow">
	<div class="box-header" style="min-height: 50px;">
		<h3 class="box-title"><i class="fa fa-line-chart"></i> {{ 'matejer_product.likes_rs'|trans }}</h3>
	</div>
	<div class="box-body no-padding">
		<table class="table table-hover">
			<tbody>
			<tr>
				<th>{{ 'matejer_product.likes'|trans }}</th>
                <td><span class="label bg-blue pull-right" style="font-size: 14px;">{{ render(url('main_product_likesnb', {'id': catProd.id})) }}</span></td>
			</tr>
			{% for i in 0..4 %}
				<tr>
					<td colspan="2"{% if loop.first %} class="bg-gray-light rate-value"{% endif %}>
						{{ catProd.rateStat.transValue(i, catProd.category.specsClass)|trans }}<span class="pull-right"><span class="label {[{background}]}" style="font-size: 12px;">{{ catProd.rateStat.valueSwitch(i) | number_format(2) }}/5 | {{ catProd.rateStat.valueNbr(i) }}</span> <span rate-star rate-value="{{ catProd.rateStat.valueSwitch(i) }}"></span></span>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>
