<div data-stat="success"><div class="row-fluid">
    {% if is_granted('ROLE_USER') %}
        {% if catProd.rateStat.valueNb == 0 %}
            <div class="col-xs-12">
                <div class="callout callout-info box-shadow">
                    <i class="fa fa-thumbs-up"></i> {{ 'prod_reviews.be_the_first'|trans }}
                </div>
            </div>
            <div class="col-xs-12 col-md-6 injection" id="product_stats_container" data-id="product_stats_container">
                {{ render_esi(url('main_review_prodratestat', {'id': catProd.id})) }}
            </div>
            <div class="col-xs-12 col-md-6 injection" id="user_review_container_{{ id }}" data-id="user_review_container_{{ id }}" ng-hide="show(0)"></div>
            <div class="col-xs-12 col-md-6 injection" id="review_form_container_{{ id }}" data-id="review_form_container_{{ id }}" ng-init="edit = true;" ng-show="show(0)">
                {{ render_esi(url('abo_main_review_newprodreview', {'slug': catProd.product.slug }) ) }}
            </div>
        {% elseif userReview is null %}
            <div class="col-xs-12">
                <div class="callout callout-info box-shadow">
                    <i class="fa fa-thumbs-up"></i> {{ 'prod_reviews.review'|trans }}
                </div>
            </div>
            <div class="col-xs-12 col-md-6 injection" data-id="product_stats_container" id="product_stats_container">
                {{ render_esi(url('main_review_prodratestat', {'id': catProd.id })) }}
            </div>
            <div class="col-xs-12 col-md-6 injection" data-id="user_review_container_{{ id }}" id="user_review_container_{{ id }}" ng-hide="show(0)"></div>
            <div class="col-xs-12 col-md-6 injection" data-id="review_form_container_{{ id }}" id="review_form_container_{{ id }}" ng-init="edit = true;" ng-show="show(0)">
                {{ render_esi(url('abo_main_review_newprodreview', {'slug': catProd.product.slug }) ) }}
            </div>
        {% else %}
            <div class="col-xs-12 col-md-6 injection" data-id="product_stats_container" id="product_stats_container">
                {{ render_esi(url('main_review_prodratestat', {'id': catProd.id })) }}
            </div>
            <div class="col-xs-12 col-md-6 injection" data-id="user_review_container_{{ id }}" id="user_review_container_{{ id }}" ng-hide="show({{ id }})">
                {{ render_esi(url('abo_main_review_userprodreview', {'id': userReview.id }) ) }}
            </div>
            <div class="col-xs-12 col-md-6 injection" data-id="review_form_container_{{ id }}" id="review_form_container_{{ id }}" ng-show="show({{ id }})"></div>
        {% endif %}
    {% else %}
        <div class="col-xs-12">
            <div class="callout callout-info box-shadow">
                <i class="fa fa-sign-in"></i> {{ 'prod_reviews.login_rvw'|trans }}
            </div>
        </div>
        <div class="col-xs-12 col-md-6 injection" id="product_stats_container">
            {{ render_esi(url('main_review_prodratestat', {'id': catProd.id })) }}
        </div>
    {% endif %}
</div></div>
