{% extends "::formPage.html.twig" %}

{% block title %}{{ 'fos_user_resetting_request.password_requested.title'|trans }}{% endblock %}

{% block form_box %}
    <div class="register-box-body">
        
            <div class="callout callout-warning box-shadow" style="margin-top: 10px;">
                <i class="fa fa-warning"></i> {{ 'fos_user_resetting_request.password_requested.error'|trans }}
            </div>
            
            <div class="btn-group btn-group-justified" style="margin-top: 50px;" role="group" aria-label="...">
                <a type="button" class="btn btn-link btn-flat" href="{{ path('abo_user_security_login') }}">{{ 'user_security_login.login'|trans }}</a>
                <a type="button" class="btn btn-link btn-flat" href="{{ path('abo_user_registration_register') }}">{{ 'user_security_login.signup'|trans }}</a>
            </div>
            
        </form>
    </div>
{% endblock form_box %}

