{% extends "::formPage.html.twig" %}

{% block title %}{{ 'fos_user_resetting_request.send_code_title'|trans }}{% endblock %}
{% block meta_description %}{{ 'fos_user_resetting_request.description'|trans }}{% endblock %}

{% block form_box %}
    <div class="register-box-body">
        {% if form is defined %}
            <p class="login-box-msg">{{ 'fos_user_resetting_request.enter_email'|trans }}</p>
            {{ form_start(form, { 'method': 'POST', 'action': path('abo_user_resetting_sendconfirmcode') }) }}
                <div class="form-group has-feedback{% if invalid_email is defined or form.email.vars.errors|length %} has-error{% endif %}">
                    {{ form_widget(form.email) }}
                    <span class="fa fa-envelope-o form-control-feedback"></span>
                </div>

                {% if invalid_email is defined %}
                    <div class="callout callout-danger box-shadow" style="margin-top: 10px;">
                        <i class="fa fa-warning"></i> {{ 'fos_user_resetting_request.wrong_email'|trans }}
                    </div>
                {% endif %}
                {% if form.vars.errors|length %}
                    <div class="callout callout-danger box-shadow" style="margin-top: 10px;">
                        {% for error in form.vars.errors %}
                            <i class="fa fa-warning"></i> {{ error }}<br/>
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="row" style="margin-top: 40px;">
                    <div class="col-xs-offset-6 col-xs-6">
                        <input type="submit" class="btn btn-primary btn-block btn-flat" value="{{ 'fos_user_resetting_request.resend'|trans }}" />
                    </div>
                </div>
            {{ form_end(form) }}
        {% else %}
            <div class="callout callout-success box-shadow" style="margin-top: 10px;">
                <i class="fa fa-warning"></i> {{ 'fos_user_resetting_request.email_sent'|trans({'%email%': email}) }}
            </div>
        {% endif %}
        <div class="btn-group btn-group-justified" style="margin-top: 50px;" role="group" aria-label="...">
            <a type="button" class="btn btn-link btn-flat" href="{{ path('abo_user_security_login') }}">{{ 'user_security_login.login'|trans }}</a>
            <a type="button" class="btn btn-link btn-flat" href="{{ path('abo_user_registration_register') }}">{{ 'user_security_login.signup'|trans }}</a>
        </div>
    </div>
{% endblock form_box %}

