{% extends "ABOShopBundle::dashShopAdmin.html.twig" %}

{% block title %}{{ 'matejer_collection.title'|trans({'%shopname%': shop.name }) }}{% endblock %}
{% block options %}options = {token: true, select: true, checkbox: true};{% endblock %}

{% block content %}
	<div class="row" ng-controller="RemoveEditController">
        <div class="col-xs-12 col-md-4" style="margin-top: 10px;">
            <div class="box box-danger box-shadow">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ "matejer_collection.yours"|trans }}</h3>
                    <button class="btn btn-{[{theme}]} btn-circle pull-right" ng-click="enableEdit('shop')" ng-disabled="unlocking" title="{[{ tooltip }]}"><i class="fa fa-lg" ng-class="isLocked ? 'fa-lock':'fa-unlock'"></i></button>
                </div>
                <div class="box-body no-padding">
                    <table class="table table-hover">
                        <tbody>
                            {% for shopCol in shopCollections %}
                                <tr><td>
                                    <div remove-edit class="margin-{{shopCol.level}}" item-id="{{shopCol.id}}" item-name="{{shopCol.name}}" item-type="col" entity="shop"{% if shopCol.anyParent %} disable-remove="1"{% endif %}><span class="editable">{{ shopCol.name }}</span></div>
                                </td></tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-8" style="margin-top: 10px;">
            <div class="box box-danger box-shadow">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ "matejer_collection.add_new"|trans }}</h3>
                </div>
                {% form_theme form ':Form:abo_form_simple.html.twig' %}
            	{{ form_start(form, {'action': form.vars.action, 'method': 'POST' }) }}
                	<div class="box-body">
                    	{{ form_row(form.name) }}
                    	{{ form_row(form.category) }}
                    	{{ form_row(form.parent) }}
			            <div class="row-fluid" style="margin-top: 10px;">
				            <label class="btn btn-default btn-flat btn-block" style="margin-top: 3px;text-align: left;">
					            {{ form_widget(form.anyParent) }} {{ form.anyParent.vars.label|trans }}
				            </label>
				            {{ form_errors(form.anyParent) }}
			            </div>
			            <div class="callout callout-info box-shadow" style="margin-top: 10px;">
				            <i class="fa fa-info-circle"></i> {{ 'matejer_collection.anyParent.note'|trans }}
			            </div>
                        {{ form_row(form._token) }}
                    </div>
                    <div class="box-footer">
                        <button type="submit" id='submit' class="btn btn-danger btn-flat medium-btn pull-right">{{ 'matejer_main.save_btn'|trans }}</button>
                	</div>
            	{{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
