{% extends "ABOTrademarkBundle::dashBase.html.twig" %}

{% block title %}ABOTrademarkBundle:Show:home{% endblock %}
{% block options %}options = {select: true};{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-xs-12 col-md-offset-3 col-md-6">
                <div class="box box-warning box-shadow" style="margin-top: 80px;">
                    <div class="box-header">
                        <h3 class="box-title"><i class="fa fa-sitemap"></i> {{ 'shop_productadmin_pre_add.panel_header'|trans }}</h3>
                    </div>
                    <div class="box-body">
                        {{ form_start(form, { 'method': 'POST' }) }}
                            {{ form_widget(form) }}
                            <div class="row-fluid">
                                <button type="submit" style="margin-top: 30px;" class="btn btn-warning btn-flat btn-block">{{ 'Select Category'|trans }}</button>
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
