<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{ 'matejer_email.email_replaced.title'|trans }}</title>
</head>
<body style="min-width: 100%;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;margin: 0;padding: 0;color: #606060 !important;font-family: 'Helvetica', 'Arial', sans-serif;font-weight: normal;text-align: left;font-size: 14px;line-height: 1.75;width: 100% !important;">
<table class="body" style="border-spacing: 0;border-collapse: collapse;padding: 0;vertical-align: top;text-align: left;height: 100%;width: 100%;color: #606060 !important;font-family: 'Helvetica', 'Arial', sans-serif;font-weight: normal;margin: 0;font-size: 14px;line-height: 1.75;">
    <tr style="padding: 0;vertical-align: top;text-align: left;">
        <td class="center" align="center" valign="top" style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 0;vertical-align: top;text-align: center;color: #606060 !important;font-family: 'Helvetica', 'Arial', sans-serif;font-weight: normal;margin: 0;font-size: 14px;line-height: 1.75;border-collapse: collapse !important;">
            <center style="width: 100%;min-width: 580px;">

                <table class="row header" style="background: #f6f6f6;border-bottom: 1px solid #eee;border-spacing: 0;border-collapse: collapse;padding: 0px;vertical-align: top;text-align: left;width: 100%;position: relative;">
                    <tr style="padding: 0;vertical-align: top;text-align: left;">
                        <td class="center" align="center" style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 0;vertical-align: top;text-align: center;color: #606060 !important;font-family: 'Helvetica', 'Arial', sans-serif;font-weight: normal;margin: 0;font-size: 14px;line-height: 1.75;border-collapse: collapse !important;">
                            <center style="width: 100%;min-width: 580px;">

                                <table class="container" style="border-spacing: 0;border-collapse: collapse;padding: 0;vertical-align: top;text-align: inherit;width: 580px;margin: 0 auto;">
                                    <tr style="padding: 0;vertical-align: top;text-align: left;">
                                        <td class="wrapper last" style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 10px 20px 0px 0px;vertical-align: top;text-align: left;color: #606060 !important;font-family: 'Helvetica', 'Arial', sans-serif;font-weight: normal;margin: 0;font-size: 14px;line-height: 1.75;position: relative;padding-right: 0px;border-collapse: collapse !important;">

                                            <table class="twelve columns" style="border-spacing: 0;border-collapse: collapse;padding: 0;vertical-align: top;text-align: left;margin: 0 auto;width: 580px;">
                                                <tr style="padding: 0;vertical-align: top;text-align: left;">
                                                    <td class="six sub-columns" style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 10px 0px 10px;vertical-align: top;text-align: left;color: #606060 !important;font-family: 'Helvetica', 'Arial', sans-serif;font-weight: normal;margin: 0;font-size: 14px;line-height: 1.75;min-width: 0px;padding-right: 10px;width: 50%;border-collapse: collapse !important;">
                                                        <img src="{{ absolute_url(asset('images/header-compact-120-b.png')) }}" style="outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;width: auto;max-width: 100%;float: left;clear: both;display: block;">
                                                    </td>
                                                    <td class="six sub-columns last ohai" style="text-align: right;vertical-align: middle;word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 10px 0px 10px;color: #606060 !important;font-family: 'Helvetica', 'Arial', sans-serif;font-weight: normal;margin: 0;font-size: 14px;line-height: 1.75;min-width: 0px;padding-right: 0px;width: 50%;border-collapse: collapse !important;"></td>
                                                    <td class="expander" style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 0 !important;vertical-align: top;text-align: left;color: #606060 !important;font-family: 'Helvetica', 'Arial', sans-serif;font-weight: normal;margin: 0;font-size: 14px;line-height: 1.75;visibility: hidden;width: 0px;border-collapse: collapse !important;"></td>
                                                </tr>
                                            </table>

                                        </td>
                                    </tr>
                                </table>
                            </center>
                        </td>
                    </tr>
                </table>
            </center>
            <br>
            <table class="container" style="border-spacing: 0;border-collapse: collapse;padding: 0;vertical-align: top;text-align: inherit;width: 580px;margin: 0 auto;">
                <tr style="padding: 0;vertical-align: top;text-align: left;">
                    <td style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 0;vertical-align: top;text-align: left;color: #606060 !important;font-family: 'Helvetica', 'Arial', sans-serif;font-weight: normal;margin: 0;font-size: 14px;line-height: 1.75;border-collapse: collapse !important;">
                        <table class="row" style="border-spacing: 0;border-collapse: collapse;padding: 0px;vertical-align: top;text-align: left;width: 100%;position: relative;display: block;">
                            <tbody style="display: block;">
                            <tr style="display: block;padding: 0;vertical-align: top;text-align: left;">
                                <td style="display: block;word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 0;vertical-align: top;text-align: left;color: #606060 !important;font-family: 'Helvetica', 'Arial', sans-serif;font-weight: normal;margin: 0;font-size: 14px;line-height: 1.75;border-collapse: collapse !important;">
                                    <table class="large-button column" style="border-spacing: 0;border-collapse: collapse;padding: 0;vertical-align: top;text-align: left;margin: 0 auto;width: 100%;overflow: hidden;">
                                        <tr style="padding: 0;vertical-align: top;text-align: left;">
                                            <td class="offset-by-one" style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 21px 40px;vertical-align: top;text-align: center;color: #606060 !important;font-family: 'Helvetica', 'Arial', sans-serif;font-weight: normal;margin: 0;font-size: 14px;line-height: 1.75;display: block;background: #39CCCC;border: 1px solid #39CCCC;border-collapse: collapse !important;width: auto !important;">
                                                <span style="font-weight: bold;text-decoration: none;font-family: Helvetica, Arial, sans-serif;color: #ffffff !important;font-size: 22px !important;">{{ 'matejer_email.email_replaced.header'|trans }}</span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr style="padding: 0;vertical-align: top;text-align: left;">
                                <td style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 0;vertical-align: top;text-align: left;color: #606060 !important;font-family: 'Helvetica', 'Arial', sans-serif;font-weight: normal;margin: 0;font-size: 14px;line-height: 1.75;border-collapse: collapse !important;">
                                    <p style="margin: 20px 0px;padding-right: 20px;color: #606060 !important;font-family: 'Helvetica', 'Arial', sans-serif;font-weight: normal;padding: 0;text-align: left;font-size: 14px;line-height: 1.75;">{{ 'matejer_email.email_replaced.notification'|trans }}</p>
                                    <p style="margin: 20px 0px;padding-right: 20px;color: #606060 !important;font-family: 'Helvetica', 'Arial', sans-serif;font-weight: normal;padding: 0;text-align: left;font-size: 14px;line-height: 1.75;"><strong>{{ 'matejer_email.change_email.current_email'|trans }}</strong>: {{ user.email }}</p>
                                </td>
                            </tr>
                            <tr style="padding: 0;vertical-align: top;text-align: left;">
                                <td style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 0;vertical-align: top;text-align: left;color: #606060 !important;font-family: 'Helvetica', 'Arial', sans-serif;font-weight: normal;margin: 0;font-size: 14px;line-height: 1.75;border-collapse: collapse !important;">
                                    <p style="margin: 20px 0px;padding-right: 20px;color: #606060 !important;font-family: 'Helvetica', 'Arial', sans-serif;font-weight: normal;padding: 0;text-align: left;font-size: 14px;line-height: 1.75;">
                                        {{ 'matejer_email.contact_us'|trans }} <a href="mailto:{{ 'matejer_email.contact_email'|trans }}" style="font-weight: normal;text-decoration: none;color: #4981ce !important;">{{ 'matejer_email.contact_email'|trans }}</a>.<br>
                                        {{ 'matejer_email.good_bye'|trans }}<br>
                                        <strong>{{ 'matejer_email.support_signature'|trans }} </strong><br>
                                        {{ 'matejer_email.place'|trans }}, {{ 'now'|date("d/m/Y H:i", "Africa/Tunis") }}
                                    </p>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
