<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{ 'matejer_email.welcome_shop.title'|trans }}</title>
</head>
<body style="min-width: 100%;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;margin: 0;padding: 0;color: #606060 !important;font-family: 'Helvetica', 'Arial', sans-serif;font-weight: normal;text-align: left;font-size: 14px;line-height: 1.75;width: 100% !important;">
<table class="body" style="border-spacing: 0;border-collapse: collapse;padding: 0;vertical-align: top;text-align: left;height: 100%;width: 100%;color: #606060 !important;font-family: 'Helvetica', 'Arial', sans-serif;font-weight: normal;margin: 0;font-size: 14px;line-height: 1.75;">
    <tr style="padding: 0;vertical-align: top;text-align: left;">
        <td class="center" align="center" valign="top" style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 0;vertical-align: top;text-align: center;color: #606060 !important;font-family: 'Helvetica', 'Arial', sans-serif;font-weight: normal;margin: 0;font-size: 14px;line-height: 1.75;border-collapse: collapse !important;">
            <center style="width: 100%;min-width: 580px;">

                <table class="row header" style="background: #f6f6f6;border-bottom: 1px solid #eee;border-spacing: 0;border-collapse: collapse;padding: 0px;vertical-align: top;text-align: left;background: #f6f6f6;border-bottom: 1px solid #eee;width: 100%;position: relative;">
                    <tr style="padding: 0;vertical-align: top;text-align: left;">
                        <td class="center" align="center" style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 0;vertical-align: top;text-align: center;color: #606060 !important;font-family: 'Helvetica', 'Arial', sans-serif;font-weight: normal;margin: 0;font-size: 14px;line-height: 1.75;border-collapse: collapse !important;">
                            <center style="width: 100%;min-width: 580px;">

                                <table class="container" style="border-spacing: 0;border-collapse: collapse;padding: 0;vertical-align: top;text-align: inherit;width: 580px;margin: 0 auto;">
                                    <tr style="padding: 0;vertical-align: top;text-align: left;">
                                        <td class="wrapper last" style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 10px 20px 0px 0px;vertical-align: top;text-align: left;color: #606060 !important;font-family: 'Helvetica', 'Arial', sans-serif;font-weight: normal;margin: 0;font-size: 14px;line-height: 1.75;position: relative;padding-right: 0px;border-collapse: collapse !important;">
                                            <table class="twelve columns" style="border-spacing: 0;border-collapse: collapse;padding: 0;vertical-align: top;text-align: left;margin: 0 auto;width: 580px;">
                                                <tr style="padding: 0;vertical-align: top;text-align: left;">
                                                    <td class="six sub-columns" style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 10px 0px 10px;vertical-align: top;text-align: left;color: #606060 !important;font-family: 'Helvetica', 'Arial', sans-serif;font-weight: normal;margin: 0;font-size: 14px;line-height: 1.75;min-width: 0px;padding-right: 10px;width: 50%;border-collapse: collapse !important;">
                                                        <img src="{{ absolute_url(asset('images/header-compact-120-b.png')) }}" style="outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;width: auto;max-width: 100%;float: left;clear: both;display: block;">
                                                    </td>
                                                    <td class="six sub-columns last ohai" style="text-align: right;vertical-align: middle;word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 10px 0px 10px;color: #606060 !important;font-family: 'Helvetica', 'Arial', sans-serif;font-weight: normal;margin: 0;font-size: 14px;line-height: 1.75;min-width: 0px;padding-right: 0px;width: 50%;border-collapse: collapse !important;"></td>
                                                    <td class="expander" style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 0 !important;vertical-align: top;text-align: left;color: #606060 !important;font-family: 'Helvetica', 'Arial', sans-serif;font-weight: normal;margin: 0;font-size: 14px;line-height: 1.75;visibility: hidden;width: 0px;border-collapse: collapse !important;"></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </center>
                        </td>
                    </tr>
                </table>

                <br>

                <table class="container" style="border-spacing: 0;border-collapse: collapse;padding: 0;vertical-align: top;text-align: inherit;width: 580px;margin: 0 auto;">
                    <tr style="padding: 0;vertical-align: top;text-align: left;">
                        <td style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 0;vertical-align: top;text-align: left;color: #606060 !important;font-family: 'Helvetica', 'Arial', sans-serif;font-weight: normal;margin: 0;font-size: 14px;line-height: 1.75;border-collapse: collapse !important;">
                            <table class="row" style="border-spacing: 0;border-collapse: collapse;padding: 0px;vertical-align: top;text-align: left;width: 100%;position: relative;display: block;">
                                <tbody style="display: block;">
                                <tr style="display: block;padding: 0;vertical-align: top;text-align: left;">
                                    <td style="display: block;word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 0;vertical-align: top;text-align: left;color: #606060 !important;font-family: 'Helvetica', 'Arial', sans-serif;font-weight: normal;margin: 0;font-size: 14px;line-height: 1.75;border-collapse: collapse !important;">
                                        <table class="large-button column" style="border-spacing: 0;border-collapse: collapse;padding: 0;vertical-align: top;text-align: left;margin: 0 auto;width: 100%;overflow: hidden;">
                                            <tr style="padding: 0;vertical-align: top;text-align: left;">
                                                <td class="offset-by-one" style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 21px 40px;vertical-align: top;text-align: center;color: #606060 !important;font-family: 'Helvetica', 'Arial', sans-serif;font-weight: normal;margin: 0;font-size: 14px;line-height: 1.75;display: block;background: #4981CE;border: 1px solid #4981CE;border-collapse: collapse !important;width: auto !important;">
                                                    <span style="color: #fff !important;font-weight: bold;text-decoration: none;font-family: Helvetica, Arial, sans-serif;font-size: 22px;">{{ 'matejer_email.welcome_shop.header'|trans }}</span>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="row" style="border-spacing: 0;border-collapse: collapse;padding: 0px;vertical-align: top;text-align: left;width: 100%;position: relative;display: block;">
                                <tr style="padding: 0;vertical-align: top;text-align: left;">
                                    <td class="wrapper" style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 10px 20px 0px 0px;vertical-align: top;text-align: left;color: #606060 !important;font-family: 'Helvetica', 'Arial', sans-serif;font-weight: normal;margin: 0;font-size: 14px;line-height: 1.75;position: relative;border-collapse: collapse !important;">
                                        <table class="six columns" style="border-spacing: 0;border-collapse: collapse;padding: 0;vertical-align: top;text-align: left;margin: 0 auto;width: 280px;">
                                            <tr style="padding: 0;vertical-align: top;text-align: left;">
                                                <td style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 10px 0px 10px;vertical-align: top;text-align: left;color: #606060 !important;font-family: 'Helvetica', 'Arial', sans-serif;font-weight: normal;margin: 0;font-size: 14px;line-height: 1.75;border-collapse: collapse !important;">
                                                    <h2 style="color: #404040 !important;font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;font-weight: normal;padding: 0;margin: 0;text-align: left;word-break: normal;line-height: 1.35;font-size: 36px;">{{ 'matejer_email.hello'|trans({ '%username%': user.name }) }}</h2>
                                                    <p style="margin: 20px 0px;padding-right: 20px;color: #606060 !important;font-family: 'Helvetica', 'Arial', sans-serif;font-weight: normal;padding: 0;text-align: left;font-size: 14px;line-height: 1.75;">{{ 'matejer_email.welcome_shop.message'|trans }}</p>
                                                    <p style="margin: 20px 0px;padding-right: 20px;color: #606060 !important;font-family: 'Helvetica', 'Arial', sans-serif;font-weight: normal;padding: 0;text-align: left;font-size: 14px;line-height: 1.75;">
                                                        1- {{ 'matejer_email.welcome_shop.one'|trans }}<br>
                                                        2- {{ 'matejer_email.welcome_shop.two'|trans }}<br>
                                                        3- {{ 'matejer_email.welcome_shop.three'|trans }}<br>
                                                        4- {{ 'matejer_email.welcome_shop.four'|trans }}<br>
                                                    </p>
                                                </td>
                                                <td class="expander" style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 0 !important;vertical-align: top;text-align: left;color: #606060 !important;font-family: 'Helvetica', 'Arial', sans-serif;font-weight: normal;margin: 0;font-size: 14px;line-height: 1.75;visibility: hidden;width: 0px;border-collapse: collapse !important;"></td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td class="wrapper last" style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 10px 20px 0px 0px;vertical-align: top;text-align: left;color: #606060 !important;font-family: 'Helvetica', 'Arial', sans-serif;font-weight: normal;margin: 0;font-size: 14px;line-height: 1.75;position: relative;padding-right: 0px;border-collapse: collapse !important;">
                                        <table class="six columns" style="border-spacing: 0;border-collapse: collapse;padding: 0;vertical-align: top;text-align: left;margin: 0 auto;width: 280px;">
                                            <tr style="padding: 0;vertical-align: top;text-align: left;">
                                                <td class="panel" style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 10px !important;vertical-align: top;text-align: left;color: #606060 !important;font-family: 'Helvetica', 'Arial', sans-serif;font-weight: normal;margin: 0;font-size: 14px;line-height: 1.75;background: #f6f6f6;border: 1px solid #eee;border-collapse: collapse !important;">
                                                    <h6 style="margin: 5px 0 15px 0;color: #A0A0A0 !important;font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;font-weight: normal;padding: 0;text-align: left;word-break: normal;line-height: 1.35;font-size: 20px;">{{ 'matejer_email.helpful'|trans }}</h6>
                                                    <table style="border-spacing: 0;border-collapse: collapse;padding: 0;vertical-align: top;text-align: left;">
                                                        <tr style="padding: 0;vertical-align: top;text-align: left;">
                                                            <td style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 10px 0px 10px;vertical-align: top;text-align: left;color: #606060 !important;font-family: 'Helvetica', 'Arial', sans-serif;font-weight: normal;margin: 0;font-size: 14px;line-height: .75;border-collapse: collapse !important;">
                                                                <a href="{{ url('abo_main_home_home') }}" style="font-weight: normal;text-decoration: none;font-size: 13px;color: #4981ce !important;"><img src="{{ absolute_url(asset('images/icons/matejer.png')) }}" style="outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;width: 20px;max-width: 100%;float: left;clear: both;display: block;border: none;height: 20px;margin: -4px 10px;"></a>&nbsp;<a href="{{ url('abo_main_home_home') }}" style="font-weight: normal;text-decoration: none;font-size: 13px;color: #4981ce !important;">{{ 'matejer_email.ourweb'|trans }}</a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <hr style="color: #eee;background-color: #eee;height: 1px;border: none;">
                                                    <table style="border-spacing: 0;border-collapse: collapse;padding: 0;vertical-align: top;text-align: left;">
                                                        <tr style="padding: 0;vertical-align: top;text-align: left;">
                                                            <td style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 10px 0px 10px;vertical-align: top;text-align: left;color: #606060 !important;font-family: 'Helvetica', 'Arial', sans-serif;font-weight: normal;margin: 0;font-size: 14px;line-height: .75;border-collapse: collapse !important;">
                                                                <a href="{{ url('abo_support_main_home') }}" style="font-weight: normal;text-decoration: none;font-size: 13px;color: #4981ce !important;"><img src="{{ absolute_url(asset('images/icons/ux.png')) }}" style="outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;width: 20px;max-width: 100%;float: left;clear: both;display: block;border: none;height: 20px;margin: -4px 10px;"></a>&nbsp;<a href="{{ url('abo_support_main_home') }}" style="font-weight: normal;text-decoration: none;font-size: 13px;color: #4981ce !important;">{{ 'matejer_email.support'|trans }}</a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <hr style="color: #eee;background-color: #eee;height: 1px;border: none;">
                                                    <table style="border-spacing: 0;border-collapse: collapse;padding: 0;vertical-align: top;text-align: left;">
                                                        <tr style="padding: 0;vertical-align: top;text-align: left;">
                                                            <td style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 10px 0px 10px;vertical-align: top;text-align: left;color: #606060 !important;font-family: 'Helvetica', 'Arial', sans-serif;font-weight: normal;margin: 0;font-size: 14px;line-height: .75;border-collapse: collapse !important;">
                                                                <a href="mailto:{{ 'matejer_email.contact_email'|trans }}" style="font-weight: normal;text-decoration: none;font-size: 13px;color: #4981ce !important;"><img src="{{ absolute_url(asset('images/icons/email.png')) }}" style="outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;width: 20px;max-width: 100%;float: left;clear: both;display: block;border: none;height: 20px;margin: -4px 10px;"></a>&nbsp;<a href="mailto:{{ 'matejer_email.contact_email'|trans }}" style="font-weight: normal;text-decoration: none;font-size: 13px;color: #4981ce !important;">{{ 'matejer_email.emailus'|trans }}</a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <h6 style="margin: 15px 0;color: #A0A0A0 !important;font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;font-weight: normal;padding: 0;text-align: left;word-break: normal;line-height: 1.35;font-size: 20px;">{{ 'matejer_email.social'|trans }}</h6>
                                                    <table style="border-spacing: 0;border-collapse: collapse;padding: 0;vertical-align: top;text-align: left;">
                                                        <tr style="padding: 0;vertical-align: top;text-align: left;">
                                                            <td style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 10px 0px 10px;vertical-align: top;text-align: left;color: #606060 !important;font-family: 'Helvetica', 'Arial', sans-serif;font-weight: normal;margin: 0;font-size: 14px;line-height: .75;border-collapse: collapse !important;">
                                                                <a href="{{ fb_profile }}" style="font-weight: normal;text-decoration: none;font-size: 13px;color: #4981ce !important;"><img src="{{ absolute_url(asset('images/icons/facebook.png')) }}" style="outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;width: 20px;max-width: 100%;float: left;clear: both;display: block;border: none;height: 20px;margin: -4px 10px;"></a>&nbsp;<a href="{{ fb_profile }}" style="font-weight: normal;text-decoration: none;font-size: 13px;color: #4981ce !important;">Facebook</a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <hr style="color: #eee;background-color: #eee;height: 1px;border: none;">
                                                    <table style="border-spacing: 0;border-collapse: collapse;padding: 0;vertical-align: top;text-align: left;">
                                                        <tr style="padding: 0;vertical-align: top;text-align: left;">
                                                            <td style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 10px 0px 10px;vertical-align: top;text-align: left;color: #606060 !important;font-family: 'Helvetica', 'Arial', sans-serif;font-weight: normal;margin: 0;font-size: 14px;line-height: .75;border-collapse: collapse !important;">
                                                                <a href="{{ gp_profile }}" style="font-weight: normal;text-decoration: none;font-size: 13px;color: #4981ce !important;"><img src="{{ absolute_url(asset('images/icons/google-plus.png')) }}" style="outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;width: 20px;max-width: 100%;float: left;clear: both;display: block;border: none;height: 20px;margin: -4px 10px;"></a>&nbsp;<a href="{{ gp_profile }}" style="font-weight: normal;text-decoration: none;font-size: 13px;color: #4981ce !important;">Google+</a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <hr style="color: #eee;background-color: #eee;height: 1px;border: none;">
                                                    <table style="border-spacing: 0;border-collapse: collapse;padding: 0;vertical-align: top;text-align: left;">
                                                        <tr style="padding: 0;vertical-align: top;text-align: left;">
                                                            <td style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 10px 0px 10px;vertical-align: top;text-align: left;color: #606060 !important;font-family: 'Helvetica', 'Arial', sans-serif;font-weight: normal;margin: 0;font-size: 14px;line-height: .75;border-collapse: collapse !important;">
                                                                <a href="{{ tw_profile }}" style="font-weight: normal;text-decoration: none;font-size: 13px;color: #4981ce !important;"><img src="{{ absolute_url(asset('images/icons/twitter.png')) }}" style="outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;width: 20px;max-width: 100%;float: left;clear: both;display: block;border: none;height: 20px;margin: -4px 10px;"></a>&nbsp;<a href="{{ tw_profile }}" style="font-weight: normal;text-decoration: none;font-size: 13px;color: #4981ce !important;">Twitter</a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td class="expander" style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 0 !important;vertical-align: top;text-align: left;color: #606060 !important;font-family: 'Helvetica', 'Arial', sans-serif;font-weight: normal;margin: 0;font-size: 14px;line-height: 1.75;visibility: hidden;width: 0px;border-collapse: collapse !important;"></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <table class="row" style="border-spacing: 0;border-collapse: collapse;padding: 0px;vertical-align: top;text-align: left;width: 100%;position: relative;display: block;">
                                <tr style="padding: 0;vertical-align: top;text-align: left;">
                                    <td class="wrapper last" style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 10px 20px 0px 0px;vertical-align: top;text-align: left;color: #606060 !important;font-family: 'Helvetica', 'Arial', sans-serif;font-weight: normal;margin: 0;font-size: 14px;line-height: 1.75;position: relative;padding-right: 0px;border-collapse: collapse !important;">

                                        <table class="twelve columns small" style="border-spacing: 0;border-collapse: collapse;padding: 0;vertical-align: top;text-align: left;text-size: 10px;margin: 0 auto;width: 580px;">
                                            <tr style="padding: 0;vertical-align: top;text-align: left;">
                                                <td align="center" style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 10px 0px 10px;vertical-align: top;text-align: left;color: #606060 !important;font-family: 'Helvetica', 'Arial', sans-serif;font-weight: normal;margin: 0;font-size: 14px;line-height: 1.75;border-collapse: collapse !important;"></td>
                                                <td class="expander" style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 0 !important;vertical-align: top;text-align: left;color: #606060 !important;font-family: 'Helvetica', 'Arial', sans-serif;font-weight: normal;margin: 0;font-size: 14px;line-height: 1.75;visibility: hidden;width: 0px;border-collapse: collapse !important;"></td>
                                            </tr>
                                            <tr style="padding: 0;vertical-align: top;text-align: left;">
                                                <td style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 10px 0px 10px;vertical-align: top;text-align: left;color: #606060 !important;font-family: 'Helvetica', 'Arial', sans-serif;font-weight: normal;margin: 0;font-size: 14px;line-height: 1.75;border-collapse: collapse !important;">
                                                    <p style="margin: 20px 0px;padding-right: 20px;color: #606060 !important;font-family: 'Helvetica', 'Arial', sans-serif;font-weight: normal;padding: 0;text-align: left;font-size: 14px;line-height: 1.75;">
                                                        {{ 'matejer_email.contact_us'|trans }} <a href="mailto:{{ 'matejer_email.contact_email'|trans }}" style="font-weight: normal;text-decoration: none;color: #4981ce !important;">{{ 'matejer_email.contact_email'|trans }}</a>.<br>
                                                        {{ 'matejer_email.good_bye'|trans }}<br>
                                                        <strong>{{ 'matejer_email.support_signature'|trans }} </strong><br>
                                                        {{ 'matejer_email.place'|trans }}, {{ 'now'|date("d/m/Y H:i", "Africa/Tunis") }}
                                                    </p>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

            </center>
        </td>
    </tr>
</table>
</body>
</html>
